.modal {
  display: none;
  color: #1d1d1f;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: calc(100% - -4px);
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 0;
  z-index: 10;
}

.recent_items {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;

  .recent_item {
    background-color: #fff;
    border: 1px solid #d1d1d1;
    border-radius: 4px;
    padding: 8px 16px;
    transition: background-color .3s ease-in-out;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}

.displayModal {
  display: block;
}

.modal_items {
  display: grid;
  gap: 10px;
  padding: 8px 16px;
}

.modal_title {
  display: flex;
  align-items: baseline;
  gap: 5px;

  span {
    font-weight: 500;
  }

  button {
    color: #767676;
    background: none;
    transition: color .3s ease-out;

    &:hover {
      color: #1d1d1f;
    }
  }
};