.form {
  position: relative;

  @media (max-width: 425px) {
    width: 100%;
  }

  @media (min-width: 425px) and (max-width: 768px) {
    width: 60%;
  }
}

.form_inner {
  height: 55px;

  @media (max-width: 768px) {
    height: 40px;
  }
}

.form_icon {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;

  svg {
    color: #767676;
    width: 24px;
    height: 24px;
  }
}

.form_input {
  border-radius: 5px;
  font-size: 15px;
  color: #1d1d1f;
  background-color: #fff;
  width: 100%;
  height: 100%;
  padding-left: 50px;

  @media (max-width: 768px) {
    &:focus {
      border: 1px solid #d1d1d1;
    }
    background-color: #eee;
    border-radius: 15px;
  }
}

.isSearchPage_form {
  width: 60%;
}

.isSearchPage_form_inner {
  height: 40px;

  input {
    background-color: #eee;
    border-radius: 15px;
  }
}