.header_outer {
  color: #fff;
  background-color: #1d1d1f;
  z-index: 5;

  //&::after {
  //  background: linear-gradient(90deg, rgba(29,29,31,0.49933476808692223) 0%, rgba(29,29,31,0.49933476808692223) 50%, rgba(29,29,31,0.5049370089832808) 100%);
  //  content: "";
  //  position: absolute;
  //  top: 0;
  //  left: 0;
  //  width: 100%;
  //  height: 100%;
  //  z-index: -1;
  //}
}

.header_inner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
}

.search_wrapper {
  position: relative;
}

.search {
  border-radius: 5px;
  display: flex;
  height: 55px;
  overflow: hidden;

  span {
    background: #fff;
    display: flex;
    align-items: center;
    padding: 0 15px;

    svg {
      color: #767676;
      width: 24px;
      height: 24px;
    }
  }

  input {
    font-size: 15px;
    color: #1d1d1f;
    background-color: #fff;
    width: 500px;
    height: 100%;
  }
}

.modal {
  color: #1d1d1f;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: calc(100% - -4px);
  left: 0;
  right: 0;
  width: 100%;
  padding: 8px 0;

  .recent_items {
    display: flex;
    gap: 5px;

    .recent_item {
      border: 1px solid #d1d1d1;
      border-radius: 4px;
      padding: 8px 16px;
    }
  }
}

.modal_items {
  display: grid;
  gap: 10px;
  padding: 8px 16px;
}

.modal_title {
  display: flex;
  align-items: baseline;
  gap: 5px;

  span {
    font-weight: 500;
  }

  button {
    color: #767676;
    background: none;
    transition: color .3s ease-out;

    &:hover {
      color: #1d1d1f;
    }
  }
};