.navbar_outer {
  color: #1d1d1f;
  background-color: #fff;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0 20px;
  z-index: 20;
}

.navbar_inner {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 60px;
}

.navbar_logo {
  display: flex;
}