.filters {
  background-color: #fff;
  box-shadow: inset 0 -1px #d1d1d1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 60px;
  padding: 0 20px;
  z-index: 19;
}

.filters_button {
  color: #767676;
  width: 35px;
  height: 35px;
  padding: 5px;

  &:hover {
    color: #1d1d1f;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}

.filters_item {
  display: flex;
  gap: 15px;
}

.filters_photo {
  box-shadow: inset 0 -2px #1d1d1f;
  display: flex;
  align-items: center;
  height: 60px;
}

.photo_icon {
  width: 20px;
  height: 20px;
  margin-right: 5px;

  svg {
    width: 100%;
    height: 100%;
  }
}

.photo_title {
  font-size: 16px;
}