.filters {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  padding-bottom: 15px;
}

.items {
  display: grid;
  gap: 5px;

  button {
    color: #767676;
    outline: none;
    background: none;
    text-align: left;
    padding: 5px 15px;
    transition: background-color .2s linear;

    &:hover {
      background-color: #f5f5f5;
    }
  }
}