.desktop_filters {
  background-color: #fff;
  align-items: center;
  position: sticky;
  top: 60px;
  z-index: 19;
}

.filters {
  display: flex;
  gap: 24px;
}

.mobile_filters_button {
  color: #767676;
  width: 35px;
  height: 35px;
  padding: 5px;

  &:hover {
    color: #1d1d1f;
  }

  svg {
    width: 100%;
    height: 100%;
  }
}