@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 14px;
  font-weight: 400;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  color: #1d1d1f;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.container {
  @media (min-width: 768px) {
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 20px;
  }
}

a {
  text-decoration: none;
}

button {
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

main {
  position: relative;
}

.disable_scroll {
  overflow: hidden;
}

.lazyLoad {
  width: 400px !important;
  height: 200px !important;
  background-color: rgb(32, 33, 36);
}